
body {
  background-color: #FAFAFA;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: #DCD7D6;
  font-weight: bold;
  padding: 30px;
  text-align: center;
  background-color: #AA5588;
}

#brick_selector_content {
  padding: 10px;
}

#height_selector_content {
  padding: 10px;
}

#brick_selector {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  padding: 4px;
}

#selection {
  padding: 25px 50px;
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-weight: normal;
  font-size: 1.2em;
  background-color: #CCCCCC;
  align-content: right;
}

#selection_table {
  margin: auto;
}

#pyramid {
  text-align: center;
  padding: 25px;
}

#pyramid > p {
  font-family: "Courier New", Courier, monospace;
  color: #AA5588;
  font-weight: bold;
  font-size: 1.5em;
}

#content {
  background-color: #EEEEEE;
  border-style: solid;
  border-width: 4px;
  border-color: #AA5588;
  margin: 25px 75px;
}